<h1>About</h1>
<p>
	<%= link_to "FuelOperator", "http://fueloperator.com" %>
	is the homepage for FuelOperator!
	<%= link_to "Ruby On Rails", "http://rubyonrails.org" %>
	in one month. This is a simple appication.
</p>