<div class="hero-unit">
	<h1>FuelOperator Homepage</h1>
	<p>
		Website under construction, coming soon. 
		<%= link_to "FuelOperator", "http://fueloperator.com" %>
	</p>

	<p>
		<%= link_to "Sign Up Now", "#", class: "btn btn-warning btn-large" %>
	</p>
</div>
</div>


